* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
  cursor:pointer;
  color: #fff;
}

#quiz-container {
  max-width: 500px;
  height: 580px;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.275);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #5c5c5c;
  text-align: center;
}

#quiz-container img {
  max-width: 100%;
  margin-bottom: 10px;
  display: inline-block;
}

.quiz-option {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff3c;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  /* overflow: hidden; */
  transition: all 0.2s ease-in-out;
}

.quiz-option:hover {
  background-color: #f6f6f6;
  color: #135286;
}

.timer-bar {
  height: 10px;
  background-color: #000000;
  margin-bottom: 20px;
}
h2{
  color: #ffffff;
  margin-top: 50px;
}
p{
  color: #ededed;
  margin-top: 20px;
}

  .center {
    position: relative;
    margin-left: 32%;
    margin-top: 30px;
    width: 120px;
    height: 40px;
  }

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 0.5px solid #ffffff;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #000000;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4f94da00;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  
  #quiz-container {
    max-width: 400px;
    height: 80vh;;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
  }

  .quiz-option {
    font-size: 1rem;
  }

  .center {
    position: relative;
    margin-left: 32%;
    margin-top: 30px;
    width: 120px;
    height: 40px;
  }

  .btn {
    width: 120px;
    height: 40px;
  }

  svg {
    stroke-width: 2px;
    width: 120px;
    height: 40px;
  }
}


@media only screen and (max-width: 480px) {
  body {
    padding: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  
  #quiz-container {
    max-width: 370px;
    height: 80vh;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
  }

  .quiz-option {
    font-size: 1rem;
  }
  .center {
    position: relative;
    margin-left: 32%;
    margin-top: 30px;
    width: 120px;
    height: 40px;
  }

  .btn {
    width: 120px;
    height: 40px;
  }

  svg {
    width: 120px;
    height: 40px;
    stroke-width: 2px;
  }
}

